# Simple Function

In [5]:
import datetime
def greet_with_time(name):
    current_time=datetime.datetime.now()
    print(f"Hello, {name}! The current time is {current_time}.")
greet_with_time ("Soman")

Hello, Soman! The current time is 2024-11-28 12:38:43.971478.

# Average Function

In [18]:
def calculate_average(num1, num2, num3):
    average = (num1 + num2 + num3) / 3
    print(f"The average of the given three numbers is {average}")
calculate_average(1,2,3)

The average of the given three numbers is 2.0

# Discount Function

In [16]:
def calculate_discount(price, discount_percentage=10):
    discount_amount = (discount_percentage / 100) * price
    final_price = price - discount_amount
    print(f"The final price after {discount_amount} percent discount is {final_price}")
calculate_discount(300)

The final price after 30.0 percent discount is 270.0

# print info function

In [24]:
def print_info(name, age, city):
    print(f"Name: {name.title()}")
    print(f"Age: {age}")
    print(f"City: {city.title()}")
print_info("soman",20,"lahore")

Name: Soman
Age: 20
City: Lahore

# Max Function

In [28]:
def find_max(*args):
    return max(args)
print(find_max(3, 5, 1, 8, 2,9,0,8,88,9999,777777,6666,6,7))

777777

# Factorial Function

In [40]:
def factorial(n):
    return 1 if n == 0 else n * factorial(n - 1)
print(factorial(5))

120

# Apply Function

In [44]:
def apply_function(func, numbers):
    result = []
    for num in numbers:
        result.append(func(num))
    return result

def add_one(x):
    return x + 1

numbers = [1, 2, 3, 4]
result = apply_function(add_one, numbers)
print(result)

[2, 3, 4, 5]

# Lambda Function

In [52]:
print((lambda x: x ** 2)(9))

81

# Apply Operator Function

In [56]:
def apply_operation(func, numbers):
    result = []
    for num in numbers:
        result.append(func(num))
    return result
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4,76,56,43]
result = apply_operation(square, numbers)
print("Result after applying the operation: {}".format(result))

Result after applying the operation: [1, 4, 9, 16, 5776, 3136, 1849]

# Function Decorator

In [74]:
import time

def measure_execution_time(func):
    def wrapper():
        start = time.time()
        result = func()
        print(f"{func.__name__}: {time.time() - start:.6f}s")
        return result
    return wrapper

@measure_execution_time
def example_function():
    return sum(range(1, 1000000))

example_function()

example_function: 0.059257s

499999500000